input {
  file {
    path => "/usr/share/logstash/pipeline/samples/VEP_WB.txt"
    sincedb_path => "/dev/null"
    start_position => "beginning"
  }
}

filter {

  if [message] =~ /^#/ {
    drop {}
  }

  csv {
    separator => "	"  # An actual tab chararcter. Please don't change.
    columns => [
      "Uploaded_variation",
      "Location",
      "Allele",
      "Gene",
      "Feature",
      "Feature_type",
      "Consequence",
      "cDNA_position",
      "CDS_position",
      "Protein_position",
      "Amino_acids",
      "Codons",
      "Existing_variation",
      "Extra"
    ]
  }

  kv {
    source => "Extra"
    field_split => ";"
  }
}

output {
  stdout {
  }
}
