input {
  pipe {
    command => "aws s3 cp s3://mod-datadumps/3.0.0/ALLELE/WB/1.0.1.0_ALLELE_WB_5.json - | jq -c '.data[]'"
  }
}

filter {
  json {
    source => "message"
  }
}

output {
  elasticsearch {
    hosts => ["elasticsearch"]
    index => "allele"
    document_id => "%{primaryId}"
  }

}