input {
  pipe {
    command => "aws s3 cp s3://mod-datadumps/3.0.0/PHENOTYPE/WB/1.0.1.0_PHENOTYPE_WB_3.json - | jq -c '.data[0]'"
  }
}

filter {
  json {
    source => "message"
  }

  mutate {
    add_field => {
      "annotationId" => "%{objectId}|%{phenotypeStatement}|%{[evidence][publicationId]}"
    }

    remove_field => [ "message" ]
  }

}

output {
  elasticsearch {
    hosts => ["elasticsearch"]
    index => "phenotype_annotation"
    document_id => "%{annotationId}"
  }
}