input {
  file {
    path => "/usr/share/logstash/pipeline/samples/VARIATION_WB.json"
    sincedb_path => "/dev/null"
    start_position => "beginning"
    codec => multiline {
      pattern => "^."
      what => "previous"
    } 
  }
}

filter {
  json {
    source => "message"
  }

  split {
    field => "data"
  }

  mutate {
    remove_field => [ "message" ]
  }
}

output {
  stdout {}
}
