input {
  file {
    path => "/usr/share/logstash/pipeline/samples/VARIATION_WB.json"
    sincedb_path => "/dev/null"
    start_position => "beginning"
    codec => multiline {
      pattern => "^."
      what => "previous"
    }
  }
}

filter {
  json {
    source => "message"
  }

  split {
    field => "data"
  }

  kv {
    source => "[data][sequenceOfReferenceAccessionNumber]"
    value_split => ":"
  }

  mutate {
    remove_field => [ "message", "metaData" ]
  }

  if [data][genomicReferenceSequence] == "N/A" {
    mutate {
      add_field => {
        "variantType" => "insersion"
        "variantId" => "%{RefSeq}:g.%{[data][start]}_%{[data][end]}ins%{[data][genomicVariantSequence]}"
      }
    }
  } else if [data][genomicVariantSequence] == "N/A" {
    mutate {
      add_field => {
        "variantType" => "deletion"
        "variantId" => "%{RefSeq}:g.%{[data][start]}_%{[data][end]}del"
      }
    }
  } else {
    mutate {
      add_field => {
        "variantType" => "substitution"
        "variantId" => "%{RefSeq}:g.%{[data][start]}%{[data][genomicReferenceSequence]}>%{[data][genomicVariantSequence]}"
      }
    }
  }
}

output {
  stdout {}
}
