input {
  pipe {
    command => "aws s3 cp s3://mod-datadumps/3.0.0/VARIATION/WB/1.0.1.0_VARIATION_WB_0.json - | jq -c '.data[]'"
  }
}

filter {
  json {
    source => "message"
  }

  kv {
    source => "sequenceOfReferenceAccessionNumber"
    value_split => ":"
  }

  mutate {
    remove_field => [ "message" ]
  }

  if [genomicReferenceSequence] == "N/A" {
    mutate {
      add_field => {
        "variantType" => "insersion"
        "variantId" => "%{RefSeq}:g.%{start}_%{end}ins%{genomicVariantSequence}"
      }
    }
  } else if [genomicVariantSequence] == "N/A" {
    mutate {
      add_field => {
        "variantType" => "deletion"
        "variantId" => "%{RefSeq}:g.%{start}_%{end}del"
      }
    }
  } else {
    mutate {
      add_field => {
        "variantType" => "substitution"
        "variantId" => "%{RefSeq}:g.%{start}%{genomicReferenceSequence}>%{genomicVariantSequence}"
      }
    }
  }
}

output {

  elasticsearch {
    hosts => ["elasticsearch"]
    index => "variant"
    document_id => "%{variantId}"
  }

}
