input {

  s3 {
    bucket => "mod-datadumps"
    prefix => "3.0.0/VEP/WB"
    exclude_pattern => "VEP_WB_(?!2)\.txt"
  }
}

filter {

  if [message] =~ /^#/ {
    drop {}
  }

  csv {
    separator => "	"  # An actual tab chararcter. Please don't change.
    columns => [
      "Uploaded_variation",
      "Location",
      "Allele",
      "Gene",
      "Feature",
      "Feature_type",
      "Consequence",
      "cDNA_position",
      "CDS_position",
      "Protein_position",
      "Amino_acids",
      "Codons",
      "Existing_variation",
      "Extra"
    ]
  }

  kv {
    source => "Extra"
    field_split => ";"
  }

  fingerprint {
    add_field => {
      "variantEffectId" => "%{Uploaded_variation}|%{Feature}"
    }
  }

}

output {

  elasticsearch {
    hosts => ["elasticsearch"]
    index => "vep"
    document_id => "%{variantEffectId}"
    template_overwrite => true
  }

}
